@charset "utf-8";

h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size:32px;
    font-weight: bold;
    text-align:center
}

table{
    margin: 0 auto;
    table-layout: auto;
    caption-side: top;
    border-collapse: separate;
}

caption{
    font: 40px bold;
}

td.menu{
    text-align: center;
    width: 300px;
    height: 50px;
    border: 3px solid black;
    background-color: floralwhite;
    font-size: 25px;
}

td.price{
    text-align: center;
    width: 150px;
    height: 50px;
    border: 3px solid black;
    background-color: floralwhite;
    font-size: 25px;
}

td.group{
    text-align: center;
    width: 350px;
    border: 3px solid black;
    background-color: floralwhite;
    font-size: 25px;
}

td.number{
    text-align: center;
    width: 50px;
    border: 3px solid black;
    background-color: floralwhite;
    font-size: 25px;
}

address{
    font-size:25px;
    text-align: left;
}

iframe{
    margin: 0 auto;
    width: 100%;
    height: 90%;
}

p{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 10px;
}

img{
    width: 900px;
    height: 600px;
}
